PORT=5000
MONGO_URI=mongodb://localhost:27017/your-db
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRE=1d
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=your_etherial_or_gmail_user
SMTP_PASS=your_password
FRONTEND_URL=http://localhost:5173
USEREMAIL=example@gmail.com
PASSWORD=
CLOUD_ENVIRONMENT_VARIABLE=CLOUDINARY_URL=
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=
